<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Arena</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='protection.js') }}"></script>
</head>
<body>
    <div id="container">
        <h1>Bot Arena</h1>
        <div id="scoreboard">Score: <span id="score">0</span></div>
        <div id="timer">Time Left: <span id="time-left">10</span>s</div>
        <div id="game-box">
            <button id="target" style="display: none;"></button> <!-- Button game element -->
            <div id="word-box">
                <div id="word-display" style="display: none;"></div> <!-- Word display -->
                <input id="word-input" type="text" placeholder="Type the word here..." style="display: none;" />
            </div>
            <!-- Final Result Box (Initially Hidden) -->
            <div id="final-result" class="hidden">
                <p id="score-display"></p>
                <p id="category-display"></p>
                <button id="restart-button" onclick="window.location.reload();">Test Again</button>
            </div>
        </div>
    </div>

    <!-- remove in future -->
    <div class="resultBoard">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Avg Speed</th>
                        <th>Acceleration</th>
                        <th>Jerk</th>
                        <th>Curvature</th>
                        <th>Straightness</th>
                        <th>Jitter</th>
                        <th>Direction Changes</th>
                    </tr>
                </thead>
                <tbody id="resultBoard">

                </tbody>
            </table>
        </div>
    </div>

    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>
